*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#backg{
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 0 0 40px 40px;
}

/* Part header*/
.headers{
    font-family: sans-serif;
    font-size: 16px;
    position: absolute;
    top: -0px;
    color: white;
}

#nameH{
    margin: 10px 5px;
}

nav ul{
    list-style: none;
    margin: 10px 50px;
}
nav ul li {
    display: inline-block;
}
nav ul li .taga{
    color: white;
    text-decoration: none;
    padding: 5px;
}
nav ul li #active_store,.taga:hover{
    opacity: 1;
    padding: 5px;
    border-bottom: 1px solid white;
}

span{
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(0);
}
span.fade{
    opacity: 1;
    transform: translateY(50);
    color: rgb(77, 73, 73);
}

/* Part of names items of products */
.items-title-nav{
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: auto 10px;
}
.items-title-nav p {
    padding: 2px;
}

/* Part of phones container */

.computer-container{
    font-family: sans-serif;
}

#title-p-c{
    text-align: center;
    font-size: 25px;
    color: gray;
    margin: 50px auto;
}

    /* Begin of items */
#one-item{
    margin: 40px;
}
#two-item{
    margin: 40px auto;
}
#three-item{
    margin: 40px;
}
#four-item{
    margin: 40px auto;
}
#five-item{
    margin: 40px;
}
#six-item{
    margin: 40px auto;
}
#seven-item{
    margin: 40px;
}
#eight-item{
    margin: 40px auto;
}
#nine-item{
    margin: 40px;
}
#ten-item{
    margin: 40px auto;
}

/* Part of footer items */

#num-page{
    border: 1px solid black;
    border-radius: 20px;
    background: rgb(194, 188, 188);
}
#footer-items{
    text-align: center;
}
#footer-items p {
    display: inline-block;
    padding: 10px;
}
#footer-items p a {
    text-decoration: none;
    color: black;
}